.scroll-smooth {
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Clase para el zoom y el resaltado */
.transform.scale-105 {
  transform: scale(1.05);
}

.border-blue-500 {
  border-color: #3b82f6; /* Color azul */
}
